.dropdown-container {
  position: relative;
}

.filter-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-buttons {
    display: flex;
    gap: 10px;
}

.sort-dropdown,
.filter-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  background: #f5d0ce;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  width: max-content;
  padding: 5px 0;
  z-index: 100;
}

.dropdown-option {
  padding: 6px 12px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  color: black;
  font-weight: bold;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option:hover,
.dropdown-option.active {
  background-color: #ffdada;
  font-weight: bold;
}
