body {
  background-color: #36050e;
  color: #F7DAD9;
  padding: 50px;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  body {
    padding: 20px;
  }
}

button {
  background-color: #f5d0ce;
  color: black;
  font-weight: bold
}